__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.python-version
venv/
.env
.venv/
.uv/

celery_worker/

docker-compose.override.yml

.vscode/
.idea/

*.log
*.tmp

/test_data/

.env.local
.env.*.local